Code/
GIMP/
Mousepad/
Thunar/
TrollteV
atril/
configstore/
dconf/
dotfiles/
nvim/
gtk-2.0/
gtk-3.0/
libreoffice/
mimeapps.list
pulse/
ristretto/
update-notifier/
user-dirs.dirs
user-dirs.locale
xfce4/
Trolltech.conf
xubuntu/
